body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

H1 {
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

div {}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 100px 0 0 0;
  margin: 0 auto 0 auto;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 10px 0 20px;
  margin: 0;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 40px;
  left: 1000px;
}

.middle-cloud {
  position: relative;
}

.profil {
  margin: 100px auto 10px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.girl {
  float: left;
  margin: auto 30px auto 0;
}

.computer {
  float: right;
  margin-left: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.footer-link {
  color: #11999E;
  padding: 10px;
  line-height: 6;
}

.end-text {
  color: #EAF6F6;
  line-height: 4;
  font-size: 0.75rem;
}

.contact-message {
  width: 30% auto 30% auto;
  margin: 0;
}

.BUTTON_JDD {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  font-weight: 400;
  padding: 22px;
  box-shadow: 0px 1px 9px 0px #000000;
  -webkit-box-shadow: 0px 1px 9px 0px #000000;
  -moz-box-shadow: 0px 1px 9px 0px #000000;
  text-shadow: 1px 1px 20px #FFFFFF;
  border: solid #FFFFFF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 50px auto 70px auto;
}

.BUTTON_JDD:hover {
  border: solid #FFFFFF 1px;
  background: #FFB424;
  background-image: -webkit-linear-gradient(top, #FFB424, #FFB424);
  background-image: -moz-linear-gradient(top, #FFB424, #FFB424);
  background-image: -ms-linear-gradient(top, #FFB424, #FFB424);
  background-image: -o-linear-gradient(top, #FFB424, #FFB424);
  background-image: linear-gradient(to bottom, #FFB424, #FFB424);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
